asciitree==0.3.3
azure-functions==1.14.0
blinker==1.4
certifi==2023.5.7
charset-normalizer==3.1.0
cryptography==3.4.8
czifile==2019.7.2
dbus-python==1.2.18
defusedxml==0.7.1
dicomweb-client==0.59.1
distlib==0.3.6
distro==1.7.0
distro-info===1.1build1
dnspython==2.3.0
elementpath==4.1.2
email-validator==2.0.0.post2
entrypoints==0.4
fasteners==0.18
filelock==3.12.0
fsspec==2023.5.0
highdicom==0.20.0
httplib2==0.20.2
idna==3.4
imagecodecs==2022.12.24
importlib-metadata==4.6.4
jeepney==0.7.1
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==4.9.2
more-itertools==8.10.0
netifaces==0.11.0
numcodecs==0.11.0
numpy==1.24.3
oauthlib==3.2.0
ome-types==0.3.4
opentile==0.9.0
Pillow==9.5.0
pillow-jpls==1.2.0
Pint==0.21
platformdirs==3.5.1
pydantic==1.10.7
pydicom==2.3.1
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
PyTurboJPEG==1.7.1
PyYAML==5.4.1
requests==2.31.0
retrying==1.3.4
SecretStorage==3.3.1
six==1.16.0
systemd-python==234
tifffile==2022.10.10
tiffslide==2.1.2
typing_extensions==4.5.0
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.0.2
virtualenv==20.23.0
wadllib==1.3.6
wsidicom==0.9.0
wsidicomizer==0.9.3
xmlschema==2.3.0
zarr==2.14.2
zipp==1.0.0
